extends layout
block content
 .row.banner
 .col-12
 h1= title
 .row
 .col-12.col-lg-8
 p
 | The Online Auction System holds online auctions of various products on a website and serves sellers and bidders accordingly. The system is designed to allow users to set up their products for auctions and bidders to register and bid for various products available for bidding.
 