extends layout

block content
  .row.banner
    .col-12
      h1 Sports Auction Facility

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Any Internet Facility Near You

          .card.card-primary
            .card-block
              h2.card-title Working hours
              p.card-text Monday - Friday : 7:00am - 7:00pm
              p.card-text Saturday : 8:00am - 5:00pm
              p.card-text Sunday : closed
          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Products
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Hassle Free Bidding
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Premium wifi

    .row
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new') ➥ Add review
            h2.card-title Customer reviews
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.review Author Simon Holmes
                small.review Timestamp 16 February 2017
              .col-12
                p What a great service.

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Charlie Chaplin
                small.reviewTimestamp 14 February 2017
              .col-12
                p It was okay. Bidding wasn't great.

    .col-12.col-lg-3
      p.lead
        | Online Auction System is accessible because it has wifi and space to sit down with your laptop and get some work done.
      p
        | If you've been and you like it - or if you don't - please leave a review to help other people just like you.
